<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="page-header">
    <h1 class="page-title">用户管理</h1>
</div>
<div class="card">
    <div class="card-body">
        <form id="searchForm">
            <div class="row marAuto wrap" style="height: 100px;margin-bottom: 30px">
                <div class="flex marginR aic">
                    <div class="nowrap">用户名:</div>
                    <div>
                        <input type="text" name="userName" class="form-control form-control-sm" id="userName"/>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" th:onclick="search()">搜索</button>
                    <button type="button" class="btn btn-secondary btn-sm" th:onclick="reset()">重置</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="dolores-btn-group" style="margin-bottom: 10px;display: flex">
                <button type="button"
                        class="modal-effect btn btn-default btn-sm"
                        id="addBtn"
                        data-bs-effect="effect-flip-vertical"
                        data-bs-toggle="modal"
                        href="#dolores-add-modal"
                        th:onclick="openSaveModal()">添加
                </button>
                <button type="button"
                        class="modal-effect btn btn-success btn-sm"
                        id="editBtn"
                        data-bs-effect="effect-flip-vertical"
                        href="#dolores-edit-modal"
                        th:onclick="openEditModal()">编辑
                </button>

                <button type="button" class="btn btn-danger btn-sm" id="deleteBtn" th:onclick="remove()">删除
                </button>
            </div>
            <div class="common-table" th:replace="~{common/table}"></div>
            <div id="add-modal"></div>
            <div id="edit-modal"></div>
        </div>
    </div>
</div>
<script>
    //查询url
    var listUrl = "/sysUser/list";
    var editPageUrl = '/sysUserPage/edit/';
    var removeUrl = '/sysUser/remove/';
    //查询对象
    var searchObj = {};

    var pageDetail = {
        pageNum: 1,
        pageSize: 5
    };

    $(function () {
        //数据加载层
        loading();
        //获取数据
        buildTable();
        //获取添加页面
        addPage();
    })

    function getSelectedCheckboxes() {
        const checkBoxList = $('.checkbox-item');
        return checkBoxList.filter(':checked');
    }

    //重置
    function reset() {
        initObj(searchObj);
        $('#searchForm input').val('');
        list();
    }

    //加载表单
    function loadForm() {
        const form = document.querySelector('#searchForm');
        searchObj = buildQueryObj(new FormData(form));
    }

    //获取数据
    function buildTable() {
        //配置加载表格选项
        let option = {
            columnList: [
                {
                    idColumn: true,
                    hidden: true,
                    comment: 'id',
                    name: 'userId',
                },
                {
                    comment: "用户名",
                    name: "userName"
                },
                {
                    comment: "邮箱",
                    name: "email"
                },
                {
                    comment: "性别",
                    name: "gender"
                },
                {
                    comment: "登录ip",
                    name: "loginIp"
                },
                {
                    comment: "登录日期",
                    name: "loginDate"
                }
            ]
        }
        option.url = listUrl;
        option.queryParam = searchObj;
        option.pageDetail = pageDetail;
        init(option);
    }

    function search() {
        loadForm();
        searchData();
    }

    function addPage() {
        $.ajax({
            url: '/sysUserPage/add',
            type: 'GET',
            async: false,
            success: function (resp) {
                $('#add-modal').append(resp);
            },
            headers: {
                'X-Api-Request': 'false'
            }
        });
    }

    function openSaveModal() {
        openModal('addBtn', 'dolores-add-modal');
    }

    function openEditModal() {
        const selectedCheckboxes = getSelectedCheckboxes();
        let userId;
        if (selectedCheckboxes.length <= 0) {
            warning('提示', '请选择编辑数据');
            return;
        }
        if (selectedCheckboxes.length !== 1) {
            warning('提示', '只能选择一行编辑数据');
            return;
        }
        selectedCheckboxes.each(function () {
            const row = $(this).closest('tr');
            userId = row.find('[id^=id-column-]').text();
        });
        $.ajax({
            url: editPageUrl + userId,
            type: 'GET',
            async: false,
            success: function (resp) {
                $('#edit-modal').empty();
                $('#edit-modal').append(resp);
                $('#dolores-edit-modal').on('show.bs.modal', function () {
                    openModal('editBtn', 'dolores-edit-modal', 'effect-flip-vertical');
                });
                $('#dolores-edit-modal').modal('show');
            },
            headers: {
                'X-Api-Request': 'false'
            }
        });
    }

    function singleOpenEditModal($this) {
        const singleMBId = $($this).closest('tr').find('[id^=single-modifyBtn-]').attr('id');
        const userId = $($this).closest('tr').find('[id^=id-column-]').text();
        $.ajax({
            url: editPageUrl + userId,
            type: 'GET',
            async: false,
            success: function (resp) {
                $('#edit-modal').empty();
                $('#edit-modal').append(resp);
                $('#dolores-edit-modal').on('show.bs.modal', function () {
                    openModal(singleMBId, 'dolores-edit-modal', 'effect-flip-vertical');
                });
                $('#dolores-edit-modal').modal('show');
            },
            headers: {
                'X-Api-Request': 'false'
            }
        });
    }

    function remove() {
        const selectedCheckboxes = getSelectedCheckboxes();
        if (selectedCheckboxes.length === 0) {
            warning('提示', '请选择至少一项删除');
            return;
        }
        let ids = '';
        selectedCheckboxes.each(function () {
            const row = $(this).closest('tr');
            ids += row.find('#idColumn').text() + ',';
        });
        del(removeUrl + ids, null, function (resp) {
            if (resp.code === 200) {
                success('提示', '删除成功')
                list();
            } else {
                error('提示', '删除失败');
            }
        })
    }

    function singleRemove($this) {
        const userId = $($this).closest('tr').find('[id^=id-column-]').text();
        del(removeUrl + userId, null, function (resp) {
            if (resp.code === 200) {
                success('提示', '删除成功')
                list();
            } else {
                error('提示', '删除失败');
            }
        })
    }
</script>
</body>
</html>


