<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{common/include :: select2-css}"/>
    <style>
        .form-switch .form-check-input[type="checkbox"] {
            transform: scale(150%);
        }
    </style>
</head>
<body>
<div class="modal fade" id="dolores-edit-modal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">编辑用户</h6>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="editForm" novalidate>
                    <input type="hidden" name="userId" th:value="${dto.sysUser.userId}"/>
                    <div class="row mb-3">
                        <label class="col-md-3 form-label text-end">用户名：</label>
                        <div class="col-md-7">
                            <input type="text"
                                   class="form-control"
                                   name="userName"
                                   minlength="1"
                                   th:value="${dto.sysUser.userName}"
                                   th:autocomplete="off"
                                   required/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label text-end">密码：</label>
                        <div class="col-md-7">
                            <input type="password"
                                   class="form-control"
                                   minlength="8"
                                   name="password"
                                   required/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label text-end">邮箱：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="email" th:value="${dto.sysUser.email}"
                                   th:autocomplete="off"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label text-end">手机号：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" name="phone" th:value="${dto.sysUser.phone}"
                                   th:autocomplete="off"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label text-end">性别：</label>
                        <div class="col-md-7">
                            <select name="gender"
                                    class="form-control form-select select2"
                            >
                                <option value="1" th:selected="${dto.sysUser.gender == 1}">男</option>
                                <option value="0" th:selected="${dto.sysUser.gender == 0}">女</option>
                                <option value="2" th:selected="${dto.sysUser.gender == 2}">武装直升飞机</option>
                                <option value="3" th:selected="${dto.sysUser.gender == 3}">未知</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label text-end">用户角色：</label>
                        <div class="col-md-7">
                            <select name="roleId"
                                    class="form-control form-select select2"
                                    multiple
                            >
                            </select>
                            <div id="roleId-error" class="invalid-feedback">请选择角色</div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label text-end">是否启用：</label>
                        <div class="col-md-7 d-flex">
                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" name="isEnable" th:value="${dto.sysUser.isEnable}"
                                       type="checkbox" checked>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label text-end">备注：</label>
                        <div class="col-md-7">
                            <textarea name="remark" class="form-control mb-4"
                                      placeholder=""
                                      th:value="${dto.sysUser.remark}"
                                      rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" th:onclick="editSave()">保存</button>
                <button class="btn btn-light" id="closeBtn" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="~{common/include :: select2-js}"/>
<th:block th:insert="~{common/include :: validate-js}"/>
<script>
    $(function () {
        getRoleList();
    })

    function getRoleList() {
        const roleId = [[${dto.roleId}]];
        get('/sysRole/queryList', null, function (resp) {
            if (resp.code === 200) {
                const roleList = resp.data;
                let append = '';
                roleList.forEach(item => {
                    append += "<option value=" + item.roleId + ">" + item.roleName + "</option>";
                });
                $('[name=roleId]').append(append);
                $('[name=roleId]').val(roleId);
            }
        });
    }

    function validate() {
        let validate =
            {
                id: '#editForm',
                verify: [
                    {
                        name: 'userName'
                    },
                    {
                        name: 'roleId'
                    }
                ]
            }
        return validateForm(validate);
    }

    function editSave() {
        if (validate()) {
            const form = document.querySelector('#editForm');
            let user = buildQueryObj(new FormData(form));
            user.isEnable = user.isEnable !== 'on' ? 0 : 1;
            let editObj = {};
            editObj.sysUser = user;
            editObj.roleId = user.roleId;
            put('/sysUser/editSave', editObj, function (resp) {
                if (resp.code === 200) {
                    success('提示', '编辑成功');
                    //重置表单
                    reset();
                    $('#dolores-edit-modal #closeBtn').trigger('click');
                    list();
                } else {
                    error('提示', '编辑失败');
                }
            });
        } else {
            warning('提示', '请完成信息填写');
        }
    }
</script>
</body>