<div class="modal fade" id="dolores-edit-modal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">编辑用户</h6>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span
                        aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="editForm">
                    <div class="row mb-3">
                        <label class="col-md-3 form-label">用户名：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">密码：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">邮箱：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">手机号：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">性别：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">性别：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">备注：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" th:onclick="">保存</button>
                <button class="btn btn-light" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
