
<!-- Live Toast-->
<div th:fragment="toast-notice" class="toast position-absolute top-0 end-0 mt-7" role="alert" aria-live="assertive"
     aria-atomic="true"
     data-delay="5000">
    <div class="toast-header">
        <strong class="me-auto toast-title">Title</strong>
        <button aria-label="Close" class="btn-close fs-20" data-bs-dismiss="toast"><span aria-hidden="true">×</span></button>
        </button>
    </div>
    <div class="toast-body">
    </div>
</div>

<div th:fragment="toast-info" class="toast align-items-center text-white bg-primary border-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="d-flex">
        <div class="toast-body">
        </div>
        <button aria-label="Close" class="btn-close fs-20 ms-auto mt-2 pe-2" data-bs-dismiss="toast"><span aria-hidden="true">×</span></button>
    </div>
</div>
<!-- /Live Toast-->