<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dolores.system.mapper.SysMenuMapper">
    <resultMap id="queryMenuListMap" type="com.dolores.system.domain.vo.SysMenuVo">
        <collection property="children"
                    ofType="com.dolores.system.domain.vo.SysMenuVo"
                    column="{id=id,sys_user_id=sys_user_id}"
                    select="menuListSelect"
        />
    </resultMap>
    <resultMap id="menuListSelectMap" type="com.dolores.system.domain.vo.SysMenuVo">
        <collection property="children"
                    ofType="com.dolores.system.domain.vo.SysMenuVo"
                    column="{id=id,sys_user_id=sys_user_id}"
                    select="menuListSelectMapSelect"
        />
    </resultMap>
    <select id="menuListSelectMapSelect" resultType="com.dolores.system.domain.vo.SysMenuVo">
        select sm.id, title, pid, path,icon
        from sys_menu sm
                 left join sys_role_menu srm
                           on sm.id = srm.menu_id
                 left join sys_user_role sur
                           on srm.role_id = sur.role_id
        where pid = #{id}
          and type = 3
          and sys_user_id = #{sys_user_id}
        order by sort
    </select>
    <select id="menuListSelect" resultType="com.dolores.system.domain.vo.SysMenuVo">
        select sm.id, title, pid, path, icon
        from sys_menu sm
                 left join sys_role_menu srm
                           on sm.id = srm.menu_id
                 left join sys_user_role sur
                           on srm.role_id = sur.role_id
        where pid = #{id}
          and type = 2
          and sys_user_id = #{sys_user_id}
        order by sort
    </select>
    <select id="queryMenuList" resultMap="queryMenuListMap">
        select sm.id, title, pid, sys_user_id, path,icon
        from sys_menu sm
                 left join sys_role_menu srm
                           on sm.id = srm.menu_id
                 left join sys_user_role sur
                           on srm.role_id = sur.role_id
        where pid = 0
          and type = 1
          and sys_user_id = #{userId}
        order by sort
    </select>

    <select id="queryMenuListByIds" resultType="com.dolores.system.domain.SysMenu">
        select * from sys_menu
        where pid = 0 and type = 1
        and id in
        <foreach collection="menuIds" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        order by create_time
    </select>

    <select id="querySubListByIds" resultType="com.dolores.system.domain.SysMenu">
        select *
        from sys_menu
        where pid != 0 and type=2 and id in
        <foreach collection="menuIds" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        order by sort
    </select>
    <resultMap id="queryMenuListByDetailMap" type="com.dolores.system.domain.vo.SysMenuVo">
        <collection property="children"
                    ofType="com.dolores.system.domain.vo.SysMenuVo"
                    column="{id=id}"
                    select="queryMenuListByDetailSelect"
        >
        </collection>
    </resultMap>
    <resultMap id="queryMenuListByDetailSelectMap" type="com.dolores.system.domain.vo.SysMenuVo">
        <collection property="children"
                    ofType="com.dolores.system.domain.vo.SysMenuVo"
                    column="{id=id}"
                    select="queryMenuListByDetailChildrenSelect"
        >
        </collection>
    </resultMap>
    <select id="queryMenuListByDetailChildrenSelect" resultType="com.dolores.system.domain.vo.SysMenuVo">
        select *
        from sys_menu
        where pid = #{id}
          and type = 3
        order by sort
    </select>
    <select id="queryMenuListByDetailSelect" resultMap="queryMenuListByDetailSelectMap">
        select *
        from sys_menu
        where pid = #{id}
          and type = 2
        order by sort
    </select>
    <select id="queryMenuListByDetail" resultMap="queryMenuListByDetailMap">
        select *
        from sys_menu
        where pid = 0
        and type = 1
        <if test="title!=null and title!=''">
            and title like concat('%',#{title},'%')
        </if>
        order by sort
    </select>
</mapper>
