<div th:fragment="select2-css">
    <link rel="stylesheet" th:href="@{/static/css/plugins.css}">
</div>
<div th:fragment="select2-js">
    <script th:src="@{/static/plugins/select2/select2.full.min.js}"></script>
    <script th:src="@{/static/js/select2.js}"></script>
</div>

<div th:fragment="boostrap-css">
    <link id="style" rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
</div>

<div th:fragment="boostrap-js">
    <script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/plugins/bootstrap/js/popper.min.js}"></script>
</div>

<div th:fragment="validate-js">
    <script th:src="@{/static/js/dolores/validate.js}"></script>
</div>

<div th:fragment="dolores-js">
    <script th:src="@{/static/js/dolores/dolores.js}"></script>
</div>

<div th:fragment="jquery-js">
    <script th:src="@{/static/js/jquery.min.js}"></script>
</div>
