<!doctype html>
<html lang="en" dir="ltr">
<body>
<div class="table-responsive">
    <div>
        <table id="dolores-table"
               class="table table-bordered border text-nowrap text-md-nowrap
               mg-b-0 table-striped table-hover">
        </table>
        <div class="d-flex justify-content-center">
            <div id="data-loading" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<script>
    //数据遮盖层时间
    var timeout = 500;

    var dolores_option = {
        idColumn: false,        //id列
        hidden: false,          //是否需要隐藏该列
        isNeedOperate: true,   //是否需要操作按钮
        isNeedCheckbox: true,   //是否需要复选框
        columnList: []          //列集合
    };

    $(function () {

    })

    //数据加载层
    function loading() {
        // 模拟异步加载数据
        setTimeout(function () {
            $('#data-loading').hide(); // 隐藏 loading 效果
        }, timeout);
    }

    //展示加载层
    function showLoading() {
        $('#data-loading').show();
    }

    //隐藏加载层
    function hideLoading() {
        // 模拟异步加载数据
        setTimeout(function () {
            $('#data-loading').hide(); // 隐藏 loading 效果
        }, timeout);
    }
</script>
</body>
</html>

