<!doctype html>
<html lang="en" dir="ltr">
<head>
    <style>
        .pagination .page-link {
            color: dodgerblue;
        }
    </style>
</head>
<body>
<div class="table-responsive">
    <div id="dolores-table-area">
        <div class="entries row" style="margin-top: 20px;;margin-bottom: 20px;">
            <div class="d-flex align-items-center">
                <div>展示</div>
                <label style="width: 5%" class="ms-2 mb-0">
                    <select id="dolores-pageSize" class="form-control form-select select2">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </label>
                <div class="ms-2">条</div>
            </div>
        </div>
        <table name="dolores-table"
               class="table table-bordered border text-nowrap text-md-nowrap
               mg-b-0 table-striped table-hover ">
            <thead id="dolores-thead"></thead>
            <tbody id="dolores-tbody"></tbody>
        </table>
        <div id="pageInfo" class="row"></div>
        <nav id="dolores-nav"></nav>
        <div class="d-flex justify-content-center">
            <div id="data-loading" class="spinner-border spinner-border-sm" aria-hidden="true" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<script>
    //数据遮盖层时间
    var timeout = 500;

    var dolores_option = {
        idColumn: false,        //id列
        hidden: false,          //是否需要隐藏该列
        isNeedOperate: true,   //是否需要操作按钮
        isNeedCheckbox: true,   //是否需要复选框
        columnList: []         //列集合
    };

    $(function () {

    })

    //数据加载层
    function loading() {
        // 模拟异步加载数据
        setTimeout(function () {
            $('#data-loading').hide(); // 隐藏 loading 效果
        }, timeout);
    }

    //展示加载层
    function showLoading() {
        $('#data-loading').show();
    }

    //隐藏加载层
    function hideLoading() {
        // 模拟异步加载数据
        setTimeout(function () {
            $('#data-loading').hide(); // 隐藏 loading 效果
        }, timeout);
    }
</script>
</body>
</html>

