<!doctype html>
<html lang="en" dir="ltr">
<body>
<div class="table-responsive">
    <div>
        <table id="dolores-table"
               class="table table-bordered border text-nowrap text-md-nowrap mg-b-0 table-striped table-hover">
        </table>
        <div class="d-flex justify-content-center">
            <div id="data-loading" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<script>
    //数据遮盖层时间
    const timeout = 500;

    let dolores_option = {
        isNeedOperate: true,   //是否需要操作按钮
        columnList: []          //列集合
    };

    //初始化
    function init(option) {
        rebuildOption(option, dolores_option);
        //加载表格数据
        loadTable(dolores_option);
        //初始化表格
        initTable(dolores_option);
        //初始化表格头部
        initThead(dolores_option);
        //初始化表格主体
        initTbody(dolores_option);
        //隐藏数据加载层
        hideLoading();
        //追加
        appendTbody(dolores_option);
    }

    //重构表格选项对象
    function rebuildOption(option) {
        rewriteObj(option, dolores_option);
    }

    //加载表单
    function loadTable(option) {
        //获取数据地址
        const url = option.url;
        //获取查询参数
        const queryParam = option.queryParam;
        $.ajax({
            url: url,
            type: 'POST',
            async: false,
            data: queryParam == null ? null : JSON.stringify(queryParam),
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            success: function (resp) {
                //获取资源
                const resourceList = resp.data;
                //展示数据加载层
                showLoading();
                matchData(option, resourceList);
            }
        })
    }

    //匹配表格数据
    function matchData(option, resourceList) {
        //获取列数据
        let columnList = option.columnList;
        //父级
        let parentList = [];
        //资源数据遍历
        resourceList.forEach(item => {
            //子级
            let childList = [];
            //遍历子级对象
            $.each(item, function (key, value) {
                //查找目标信息
                const match = columnList.findIndex(item => item.name === key);
                if (match >= 0) {
                    //如果存在则子级创建对象并注入
                    let obj = {};
                    obj.name = key;
                    obj.value = value;
                    childList.push(obj);
                }
            });
            //注入子级
            parentList.push(childList);
        });
        //重新赋值
        option.parentList = parentList;
        const isNeedOperate = option.isNeedOperate;
        //判断是否需要操作头
        if (isNeedOperate) {
            appendOperate(option);
        }
    }

    function appendOperate(option) {
        option.columnList.push({comment: '操作', name: 'operate'});
    }

    //初始化表格
    function initTable() {
        const table = $("#dolores-table");
        table.html('');
    }

    //初始化表格头部
    function initThead(option) {
        let columnList = option.columnList;
        //创建表格头部
        let thead = document.createElement('thead');
        //设置元素属性
        thead.setAttribute('id', 'dolores-thead');
        //创建行
        const tr = document.createElement('tr');
        columnList.forEach(column => {
            //创建列
            let td = document.createElement('td');
            //设置文本
            td.innerText = column.comment;
            //行追加
            tr.appendChild(td);
        });
        //头部追加
        thead.appendChild(tr);
        //表格追加
        document
            .getElementById("dolores-table")
            .appendChild(thead);
    }

    //初始化主体
    function initTbody(option) {
        let parentList = option.parentList;
        let tbody = document.createElement('tbody');
        tbody.setAttribute('id', 'dolores-tbody');
        parentList.forEach(child => {
            const tr = document.createElement('tr');
            const childList = child;
            if (childList != null && childList.length > 0) {
                childList.forEach(data => {
                    let td = document.createElement('td');
                    td.innerText = data == null ? null : data.value;
                    tr.appendChild(td);
                });
                //判断是否需要操作按钮
                if (option.isNeedOperate) {
                    let operateTd = document.createElement('td');
                    let modifyBtn = document.createElement('button');
                    let removeBtn = document.createElement('button');
                    modifyBtn.innerText = '编辑';
                    removeBtn.innerText = '删除';
                    modifyBtn.classList.add('btn', 'btn-success', 'btn-sm');
                    modifyBtn.style.marginRight = '10px';
                    removeBtn.classList.add('btn', 'btn-danger', 'btn-sm');
                    operateTd.append(modifyBtn);
                    operateTd.append(removeBtn);
                    tr.appendChild(operateTd);
                }
            }
            tbody.appendChild(tr);
        });
        option.tbody = tbody;
    }

    //追加主体
    function appendTbody(option) {
        setTimeout(function () {
            const tbody = option.tbody;
            document
                .getElementById("dolores-table")
                .appendChild(tbody);
        }, timeout)
    }

    //数据加载层
    function loading() {
        // 模拟异步加载数据
        setTimeout(function () {
            $('#data-loading').hide(); // 隐藏 loading 效果
        }, timeout);
    }

    //展示加载层
    function showLoading() {
        $('#data-loading').show();
    }

    //隐藏加载层
    function hideLoading() {
        // 模拟异步加载数据
        setTimeout(function () {
            $('#data-loading').hide(); // 隐藏 loading 效果
        }, timeout);
    }
</script>
</body>
</html>

