.search-input {
    display: flex;
    margin-right: 15px;
    margin-top:20px;
    align-items: center;
}

.nowrap {
    white-space: nowrap;
    width: auto;
    margin-right: 5px;
    margin-left: 15px;
    font-size: 12px;
}

#dolores-table td {
    /* 设置单元格宽度 */
    width: 150px;
    /* 设置单元格内容自动换行 */
    white-space: normal;
    /* 在单词边界处换行 */
    word-break: break-word;
    /* 设置单元格内边距，以便内容更易于阅读 */
    padding: 8px;
}

.box-shadow-pink > .row {
    margin: 20px 20px 0 0;
}
